<h1>Öğrenciyi Düzenle: <%= @student.fullName %></h1>

<%= form_with model: @student, url: student_path(@student), method: :patch do |form| %>
  <div>
    <%= form.label :fullName %>
    <%= form.text_field :fullName %>
  </div>

  <div>
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <%= form.submit "Güncelle" %>
<% end %>

<%= link_to "Geri Dön", student_path(@student) %>
